@charset "UTF-8";

article {
  display: block;
  clear: both;
  margin-left: 5%;
}

ul li {
  list-style-type: circle;
  margin-bottom: 2%;
}

article ul a {
  color: blue;
}

article ul a:visited {
  color: blue;
}
