@charset "UTF-8";

div.row {
  clear: both;
}

div.row::after {
  clear: both;
  content: "";
  display: table;
}

div[class^="col-"] {
  float: left;
}

div.col-1-2 {width: 50%;}

div.calendar iframe {
  margin-left: 10%;
  margin-top: 0%;
}

div.calendar h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 2.2em;
}

section img#andover {
  margin-left: 10%;
  width: 80%;
}

section img#andover_central {
  margin-left: 20%;
  width: 56%;
}
