@charset "UTF-8";

/* Reset the Document Elements */

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../Fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
}

html, body, article, aside, figcaption, figure, footer, header, main, nav, section {
  /* display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
}

li {
  list-style: none;
}

html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header nav {
  width: 100%;
}

a {
  text-decoration: none;
}
